html {
  box-sizing: border-box;
  font-family: monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  margin: auto;
  --bg-color: white;
  background-color: var(--bg-color);
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 3rem 2rem;
  width: 80%;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  flex-wrap: no-wrap;
  border: none;
  box-shadow: 2px 3px 25px -1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 2px 3px 25px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 3px 25px -1px rgba(0, 0, 0, 1);
  --input-bg: white;
  --input-border: solid 1px black;
  --red-thumb: #ff0000;
  --green-thumb: #006900;
  --blue-thumb: #0000b4;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.labeldiv {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 224px;
  margin-bottom: 1rem;
}
p {
  border: 1px solid var(--border-color);
  padding: 1.5rem;
  --text-color: black;
  --shadow-color: black;
  --border-color: black;
  --hover-color: white;
  --hover-text: black;
  color: var(--text-color);
  background-color: var(--bg-color);
  box-shadow: 5px 5px var(--shadow-color);
  cursor: pointer;
  text-align: center;
  min-width: 200px;
}
@media (hover: hover) and (pointer: fine) {
  p:hover {
    background-color: var(--hover-color);
    color: var(--hover-text);
  }
}

@media screen and (min-width: 1000px) {
  .label-wrapper {
    min-width: 350px;
  }
}

@media screen and (min-width: 1235px) {
  header {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .input-wrapper {
    flex-direction: row;
  }
  .label-wrapper {
    min-width: 200px;
  }
}

@media screen and (min-width: 1400px) {
  .label-wrapper {
    min-width: 260px;
  }
}
@media screen and (min-width: 1600px) {
  .label-wrapper {
    min-width: 320px;
  }
}

@media screen and (min-width: 1800px) {
  .label-wrapper {
    min-width: 380px;
  }
}
@media screen and (min-width: 2050px) {
  .label-wrapper {
    min-width: 450px;
  }
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  min-width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--input-bg);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--input-bg);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--input-bg);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--input-bg);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--input-bg);
}
input[type="range"]::-ms-fill-upper {
  background: var(--input-bg);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--input-bg);
}

input#red::-moz-range-thumb {
  background: var(--red-thumb);
}

input#red::-webkit-slider-thumb {
  background: var(--red-thumb);
}

input#green::-moz-range-thumb {
  background: var(--green-thumb);
}
input#green::-webkit-slider-thumb {
  background: var(--green-thumb);
}

input#blue::-moz-range-thumb {
  background: var(--blue-thumb);
}
input#blue::-webkit-slider-thumb {
  background: var(--blue-thumb);
}

label {
  font-size: 2rem;
}

#hex-color {
  font-size: 2rem;
  margin: 0;
}

span {
  all: unset;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: right;
}

span::before {
  content: "(";
}

span::after {
  content: " )";
}

@media screen and (min-width: 1235px) {
  #hex-color {
    margin-left: auto;
  }
}

@media screen and (max-width: 1235px) {
  #hex-color {
    margin-top: 6rem;
  }
}
